<a href="https://colab.research.google.com/github/ChatMadhu/Python/blob/main/Python_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python -1

If condition

In [ ]:
is_cold = True
is_=hot = False

if is_cold:
  print("Wear warm cloths")
elif is_hot:
  print("drink plenty of water")
else:
  print("It's lovely day")

Wear warm cloths

In [ ]:
price = 1000000
buyer_has_good_credit = True

if buyer_has_good_credit:
  put_down= price*0.1
else:
  put_down = price*0.2
down = f'Down payment is: {put_down}$'
print(down)

Down payment is: 100000.0$

In [ ]:
num=input("Enter a number")
num= int(num)

Enter a number4

In [ ]:
num=input("Enter a number: ")
num= int(num)
if num%2==0:
  print("number is even")
else:
  print("number is odd")

Enter a number: 6
number is even

classes

In [ ]:
class Human:
  def __init__(self, n,o,g):
      self.name = n
      self.occupation = o
      self.gender = g
  
  def speaks(self):
    if self.gender =="Female":
      print(self.name, "is a girl")
    elif self.gender == "Male":
      print(self.name, "is a boy")
    else:
      print(self.name, "is a human being")
  
  def works(self):
    if self.occupation == "Tennis player":
      print(self.name, "is a tennis player")
    if self.occupation== "actor":
      print(self.name, "shoots films")

  def enjoys(self):
    if self.occupation == "Tennis player":
      print(self.name, "hobby is playing piano")
    if self.occupation == "actor":
      print(self.name, "hobby is singinig")

In [ ]:
tom = Human("Tom Curise", "actor", "Male")
tom.speaks()
tom.works()
tom.enjoys()

Tom Curise is a boy
Tom Curise shoots films
Tom Curise hobby is singinig

inheritance

In [ ]:
class Vehicle:
  def general_usage(self):
    print("The general usage is transportation")

class car(Vehicle):
  def __init__(self):
      print("I am a car")
      self.wheels = 4
      self.roof = True
  def use_for(self):
      self.general_usage()
      print("this is used for common works")
    
class motorcycle(Vehicle):
  def __init__(self):
        print("I am a motorcycle")
        self.wheels = 2
        self.roof = False
  def use_for(self):
        self.general_usage()
        print("this is used for racing")

In [ ]:
c=car()
c.use_for()

I am a car
The general usage is transportation
this is used for common works

In [ ]:
print(issubclass(car,motorcycle))

False

multiple inheritance

In [ ]:
class Father():
  def gardening(self):
    print("I enjoy gardening")

class Mother():
  def cooking(self):
    print("I enjoy cooking")

class Child(Father,Mother):
  def sporting(self):
    print("I enjoy sporting")

c=Child()
c.gardening()
c.cooking()
c.sporting()

I enjoy gardening
I enjoy cooking
I enjoy sporting

base class method

In [ ]:
class Father():
  def skills(self):
    print("I enjoy gardening and programming")

class Mother():
  def skills(self):
    print("I can cooking and sawing")

class Child(Father, Mother):
  def skills(self):
    Father.skills(self)
    Mother.skills(self)
    print("I enjoy cricket and singing")

c=Child()
c.skills()

I enjoy gardening and programming
I can cooking and sawing
I enjoy cricket and singing

#Python Tutorial for Beginners - Full Course in 11 Hours [2020]

In [ ]:
!pip3 install ColabTurtle

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting ColabTurtle
  Downloading ColabTurtle-2.1.0.tar.gz (6.8 kB)
Building wheels for collected packages: ColabTurtle
  Building wheel for ColabTurtle (setup.py) ... done
  Created wheel for ColabTurtle: filename=ColabTurtle-2.1.0-py3-none-any.whl size=7657 sha256=815126edd22d6bdd0dd3d25bb8aa18381b48094a260ae67f49dda68b9f8c6b28
  Stored in directory: /root/.cache/pip/wheels/0d/ab/65/cc4478508751448dfb4ecb20a6533082855c227dfce8c13902
Successfully built ColabTurtle
Installing collected packages: ColabTurtle
Successfully installed ColabTurtle-2.1.0

In [ ]:
import ColabTurtle as quazi_turtle

In [ ]:
quazi_turtle.forward(100)

AttributeError: ignored

In [ ]:
import calendar

In [ ]:
print(calendar.weekheader(4))

Mon  Tue  Wed  Thu  Fri  Sat  Sun

In [ ]:
print(calendar.month(2022,9,3))

       September 2022
Mon Tue Wed Thu Fri Sat Sun
              1   2   3   4
  5   6   7   8   9  10  11
 12  13  14  15  16  17  18
 19  20  21  22  23  24  25
 26  27  28  29  30

In [ ]:
print(calendar.calendar(2022,3))

                                             2022

          January                          February                          March
Mon Tue Wed Thu Fri Sat Sun      Mon Tue Wed Thu Fri Sat Sun      Mon Tue Wed Thu Fri Sat Sun
                      1   2            1   2   3   4   5   6            1   2   3   4   5   6
  3   4   5   6   7   8   9        7   8   9  10  11  12  13        7   8   9  10  11  12  13
 10  11  12  13  14  15  16       14  15  16  17  18  19  20       14  15  16  17  18  19  20
 17  18  19  20  21  22  23       21  22  23  24  25  26  27       21  22  23  24  25  26  27
 24  25  26  27  28  29  30       28                               28  29  30  31
 31

           April                             May                              June
Mon Tue Wed Thu Fri Sat Sun      Mon Tue Wed Thu Fri Sat Sun      Mon Tue Wed Thu Fri Sat Sun
                  1   2   3                                1                1   2   3   4   5
  4   5   6   7   8   9  10        2   3   4   5   6   7   8        6   7   8   9  10  11  12
 11  12  13  14  15  16  17        9  10  11  12  13  14  15       13  14  15  16  17  18  19
 18  19  20  21  22  23  24       16  17  18  19  20  21  22       20  21  22  23  24  25  26
 25  26  27  28  29  30           23  24  25  26  27  28  29       27  28  29  30
                                  30  31

            July                            August                         September
Mon Tue Wed Thu Fri Sat Sun      Mon Tue Wed Thu Fri Sat Sun      Mon Tue Wed Thu Fri Sat Sun
                  1   2   3        1   2   3   4   5   6   7                    1   2   3   4
  4   5   6   7   8   9  10        8   9  10  11  12  13  14        5   6   7   8   9  10  11
 11  12  13  14  15  16  17       15  16  17  18  19  20  21       12  13  14  15  16  17  18
 18  19  20  21  22  23  24       22  23  24  25  26  27  28       19  20  21  22  23  24  25
 25  26  27  28  29  30  31       29  30  31                       26  27  28  29  30

          October                          November                         December
Mon Tue Wed Thu Fri Sat Sun      Mon Tue Wed Thu Fri Sat Sun      Mon Tue Wed Thu Fri Sat Sun
                      1   2            1   2   3   4   5   6                    1   2   3   4
  3   4   5   6   7   8   9        7   8   9  10  11  12  13        5   6   7   8   9  10  11
 10  11  12  13  14  15  16       14  15  16  17  18  19  20       12  13  14  15  16  17  18
 17  18  19  20  21  22  23       21  22  23  24  25  26  27       19  20  21  22  23  24  25
 24  25  26  27  28  29  30       28  29  30                       26  27  28  29  30  31
 31

strings in python

In [11]:
s = "Hellow maam :)"
print(s[7])

m

lists in python

In [12]:
l= [1,3,5,6,4,56,3,4,4]
print(l)

[1, 3, 5, 6, 4, 56, 3, 4, 4]

In [13]:
y = ['hd', 34, 'hwbed','jywd', True, 'db', [1,3,'ef',45,5]]
print(y)

['hd', 34, 'hwbed', 'jywd', True, 'db', [1, 3, 'ef', 45, 5]]

indexing the list

In [14]:
print(y[0])
print(y[4])
print(y[5])
print(y[6])

hd
True
db
[1, 3, 'ef', 45, 5]

In [15]:
#list of names
names = ["Joe", "John", "James"]
print(names)

#add one name to the end
names.append("Gerry")
print(names)

#add one name to specific place
names.insert(0,"Pat")
print(names)

#remove one specific name
names.remove("John")
print(names)

#sort the list accending order
numbers = [23,5,2,7,5,734,6]
numbers.sort()
print(numbers)
#decebnidng order
numbers.reverse()
print(numbers)

['Joe', 'John', 'James']
['Joe', 'John', 'James', 'Gerry']
['Pat', 'Joe', 'John', 'James', 'Gerry']
['Pat', 'Joe', 'James', 'Gerry']
[2, 5, 5, 6, 7, 23, 734]
[734, 23, 7, 6, 5, 5, 2]

In [16]:
#iterating over list
for number in numbers:
  print(number)

734
23
7
6
5
5
2

Indexing, slicing, striding

In [31]:
digits = [0,1,2,3,4,5,6,7,8,9]

print(digits[0])
print(digits[1])
print(digits[-1])
print(digits[:3])
print(digits[3:])
print(digits[0:4])
print(digits[0:10:2])
print(digits[::])
print(digits[::4])
print(digits[::3])
print(digits[::2])
print(digits[::-4])
print(digits[1:6:2])

0
1
9
[0, 1, 2]
[3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3]
[0, 2, 4, 6, 8]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 4, 8]
[0, 3, 6, 9]
[0, 2, 4, 6, 8]
[9, 5, 1]
[1, 3, 5]

In [32]:
for i in range(len(digits)):
  print(digits[0:i])

[]
[0]
[0, 1]
[0, 1, 2]
[0, 1, 2, 3]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 4, 5, 6, 7]
[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [34]:
for i in range(len(digits)):
  print(digits[i:i+3])

[0, 1, 2]
[1, 2, 3]
[2, 3, 4]
[3, 4, 5]
[4, 5, 6]
[5, 6, 7]
[6, 7, 8]
[7, 8, 9]
[8, 9]
[9]